.grid {
  max-width: 900px;
  min-width: 900px;
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}

.animate-node {
  -webkit-animation: animateNode 0.5s; /* Safari 4.0 - 8.0 */
  animation: animateNode 0.5s;
  animation-fill-mode: forwards;
}

.animate-path {
  -webkit-animation: animatePath 0.5s; /* Safari 4.0 - 8.0 */
  animation: animatePath 0.5s;
  animation-fill-mode: forwards;
}

.button-wrapper {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.button-wrapper .button {
  margin-right: 1rem;
}

@keyframes animateNode {
  from {
    background-color: teal;
  }
  to {
    background-color: turquoise;
  }
}

@-webkit-keyframes animateNode {
  from {
    background-color: teal;
  }
  to {
    background-color: turquoise;
  }
}

@keyframes animatePath {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
    border-color: transparent;
    border-radius: 0%;
  }
}

@-webkit-keyframes animatePath {
  from {
    background-color: red;
  }
  to {
    border-color: transparent;
    background-color: yellow;
    border-radius: 0%;
  }
}
