.grid-item {
  width: 13px;
  height: 13px;
  background-color: white;
  display: block;
  float: left;
  border: 1px solid gray;
}

.is-start {
  background-color: red;
}

.is-finish {
  background-color: blue;
}

.is-obstacle {
  background-color: black !important;
  animation: none !important;
}
