.App {
  display: flex;
}
.sidebar {
  height: 100vh;
  background-color: #f9f9f9;
  flex-basis: 200px;
  min-width: 200px;
  padding: 1rem;
}

.algorithm {
  flex: 1;
  margin-left: 2rem;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  background-color: turquoise;
  color: #464646;
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
  pointer-events: none;
}
